<html>
    <head></head>
    <body>
        <h3>Culturas</h3>
        {% if cultura.empty %}
            <h2 >Sem cultura cadastrada</h2>
        {% else %}
            {% for ct in cultura %}
                <div>
                <h2>{{ct.nome_cultura}}</h2>
                <a href="{% url 'editcultura' ct.id %}" >Editar cultura</a>
                <a href="{% url 'delete_cultura' ct.id %}" >Deletar cultura</a>
                </div>
            {% endfor %}
        {% endif %}
        <br>
        <a href="{% url 'formcultura' %}">Adicionar</a>
    </body>
</html>